body{
    background-color: blue;
}
h1{
    font-size: 50px;
}
.toppctext{
    background-color: red;
    padding-top: 3px;
    padding-bottom: 4px;
    margin-left: 80px;
    margin-top: 70px;
    margin-right: 80px;
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-radius: 20px;
    box-shadow:0 20px 35px rgb(0,0,1,0.9);

}
.pctext{
    background-color: rgb(128, 128, 239);
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    border: 2px solid black;
}
#loginemail{
    width: 70%;
    margin-bottom: 10px;
    height: 20px;
    border-radius: 5px;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
}
#loginpassword{
    width: 70%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20px;
}
#pcforgetpasswordbutton{
    border: 1px solid black;
    padding: 2px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(53, 32, 138);
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size:small;
    padding-right: 10px;
    margin-right: 15px;
}
#pcforgetpasswordbutton:hover{
    background-color: blue;
    color: yellow;
}
#pcsignupbutton{
    border: 1px solid black;
    margin-right: 10px;
    padding: 2px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(53, 32, 138);
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size:small;
    padding-right: 10px;
}
#pcsignupbutton:hover{
    background-color: blue;
    color: yellow;
}
input[name="button"]{
    margin-bottom: 20px;
    border-radius: 5px;
    width: 50%;
    border-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: medium;
    background-color: red;
    color: yellow;
}
input[name="button"]:hover{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    border-color: red;
}

@media only screen and (max-width:414px) {
    .toppctext{
        margin-top: 60px;
        background-color: red;
        padding-top: 3px;
        padding-bottom: 4px;
        margin-left: 20px;
        margin-right: 20px;
        border-right: 5px solid black;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        border-left: 5px solid black;
        border-radius: 20px;
        box-shadow:0 20px 35px rgb(0,0,1,0.9);
    }
    .pctext{
        background-color: rgb(128, 128, 239);
        border-radius: 20px;
        text-align: center;
        font-size: 15px;
        border: 2px solid black;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
    input[name="button"]{
        margin-bottom: 10px;
    border-radius: 2px;
    width: 70%;
    height: 25px;
    border-radius: 10px;
    font-size: 15px;
    border-color: black;
    background-color: red;
    color: yellow;
    }
    input[name="button"]:hover{
        background-color:blue;
    color: white;
    border-radius: 5px;
    border-color: red;
    border-radius: 10px;
    }
    #loginemail{
        margin-bottom: 10px;
    }
}