body{
    background-color: red;
}
#contianer{
    border-radius: 15px;
    background-color: rgb(168, 233, 79);
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 20%;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#headtext{
    text-align: center;
}
#personname{
    margin-left: 100px;
    margin-top: -18px;
    margin-bottom: 15px;
    color: red;
}
#personmobilenumber{
    margin-left: 100px;
    color: red;
    margin-top: -18px;
    margin-bottom: 15px;
}
#personemail{
    margin-left: 100px;
    color: red;
    margin-top: -18px;
    margin-bottom: 15px;
}
#goback{
    color: white;
    background-color: rgb(134, 134, 146);
    width: 48%;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 20px;
}
#goback:hover{
    background-color: blue;
    box-shadow: 10px 8px 25px 2px black;
    border-color: white;
}
#logout{
    background-color: rgb(219, 103, 103);
    color:white;   
    padding-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-top: 150px;
    font-size: 20px;
    width: 48%;
}
#logout:hover{
    background-color: red;
    border-color: white;
    box-shadow: 10px 8px 15px 5px black;
}
@media only screen and (max-width:390px) {
    body{
        background-color: blue;
    }
    #contianer{
        border-radius: 15px;
        background-color: rgb(168, 233, 79);
        padding-top: 10px;
        padding-bottom: 20px;
        margin-top: 20%;
        border: 2px solid black;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #headtext{
        text-align: center;
    }
    #personname{
        margin-left: 100px;
        margin-top: -18px;
        margin-bottom: 15px;
        color: red;
    }
    #personmobilenumber{
        margin-left: 100px;
        color: red;
        margin-top: -18px;
        margin-bottom: 15px;
    }
    #personemail{
        margin-left: 100px;
        color: red;
        margin-top: -18px;
        margin-bottom: 15px;
    }
    #goback{
        color: white;
        background-color: rgb(134, 134, 146);
        width: 48%;
        margin-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 15px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    #goback:hover{
        background-color: blue;
        box-shadow: 10px 8px 25px 2px black;
        border-color: white;
    }
    #logout{
        background-color: rgb(219, 103, 103);
        color:white;   
        padding-top: 10px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-radius: 15px;
        margin-top: 150px;
        font-size: 20px;
        width: 48%;
    }
    #logout:hover{
        background-color: red;
        border-color: white;
        box-shadow: 10px 8px 15px 5px black;
    }
}